.navbar{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.navbar ul{
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 25px;
}
.title{
   
    max-width: 1050px;
    margin: 40px auto;
}
.title h1{
    font-size: 3rem;
}
.title p{
    font-size: .9em;
    color: rgb(102, 101, 101);
    /* font-weight: 600; */
}